<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a8276">  <td>22/01/21 11:44:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Empresas.setUp()[pri:0, instance:testcases.Empresas@73ee04c8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@900636745</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/01/21 11:44:27</td>   <td>3227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Empresas.creacionRapidaEmp()[pri:0, instance:testcases.Empresas@73ee04c8]">creacionRapidaEmp</td> 
  <td>main@900636745</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/01/21 11:45:01</td>   <td>36974</td> <td title="&lt;&lt;Empresas.tearDown()[pri:0, instance:testcases.Empresas@73ee04c8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@900636745</td>   <td></td> </tr>
</table>
